* {
    margin: 0;
    padding: 0;
}


.header-wrapper {
    width: 980px;
    height: 130px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header-logo-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
}

.header-logo {
    background-image: url(../images/logo.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 190px;
    height: 64px;
    position: relative;
}

.logo-link-box {
    position: relative;
    top: -17%;
    right: -194%;
    width: 192.75px;
}

.logo-link {
    position: relative;
    display: flex;
    font-size: 12px;
    gap: 3px;
}

.logo-add-box {
    background-image: url(../images/head_txt_img.png);
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 229px;
    height: 15px;
    position: relative;
    top: 53%;
    right: -175%;
}

.header-menu-box{
    display: flex;
    gap: 2px;
}

.header-menu-box .menu {
    width: 194px;
    height: 45px;
    flex: 1;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.menu-1{
    background-image: url(../images/head_menu1.png);
}

.menu-2{
    background-image: url(../images/head_menu2.png);
}

.menu-2 {
    display: flex;
    justify-content: center;
    align-items: start;
}

.menu-2 img {
    margin-left: 58px;
    margin-top: -16px;
}

.menu-3{
    background-image: url(../images/head_menu3.png);
}

.menu-4{
    background-image: url(../images/head_menu4.png);
}

.menu-5{
    background-image: url(../images/head_menu5.png);
}

.menu-gubun {
    background-image: url(../images/head_menu_line.png);
    height: 10px;
    width: 194px;
}

.header-bottom-img {
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-image: url(../images/sub_top_bg.jpg);
    width: 100%;
    height: 178px;
}

.main-wrapper{
    margin: 20px auto;
    width: 980px;
    display: flex;
}

.index-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.main-slide {
    width: 749px;
    height: 200px;
}

.popup {
    width: 229px;
    height: 200px;

}

.index-main-box1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: left;
    align-items: center;
    margin-left: 463px;
}

.index-sub {
    display: flex;
    flex-wrap: wrap; /* 아이템이 줄을 넘어가면 다음 줄로 이동 */
    gap: 11px;
    justify-content: center;
    margin-top: 15px;
}

.index-product-box1,
.index-product-box2,
.index-product-box3,
.index-product-box4,
.index-product-box5,
.index-product-box6 {
    width: 150px; /* 각 아이템의 너비 */
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    display: flex;
        flex-direction: column;
        align-items: center; /* 수평 가운데 정렬 */
        width: 150px; /* 필요에 따라 조정하세요 */
        text-align: center; /* 텍스트 가운데 정렬 */
}

.price-row {
    display: flex;
    justify-content: center;
    gap: 3px; /* 가격과 할인율 사이의 간격 */
    margin: 3px 0;
}


.index-product-box1 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.index-product-box2 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.index-product-box3 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.index-product-box4 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.index-product-box5 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.index-product-box6 span {
    display: block;
    margin: 1px 0; /* 각 줄 사이에 여백 추가 */
}

.text001 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text002 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text003 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text004 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text005 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}

.text006 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text007 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text008 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text009 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text010 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}

.text011 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text012 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text013 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text014 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text015 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}

.text016 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text017 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text018 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text019 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text020 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}

.text021 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text022 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text023 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text024 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text025 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}

.text026 {
    color: rgba(119, 119, 119, 1);
    width: auto;
    height: auto;
    font-size: 19px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text027 {
    color: black;
    width: auto;
    height: auto;
    font-size: 15px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    font-weight: 550;
}

.text028 {
    color: black;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: line-through;
}

.text029 {
    color: red;
    width: 30px;
    height: auto;
    font-size: 11px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
}

.text030 {
    color: black;
    width: auto;
    height: auto;
    font-size: 17px;
    font-family: Inter;
    line-height: normal;
    font-stretch: normal;
    font-weight: bold;
}


.index_main_box2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.main_banner_box1 {
    background-image: url(../images/main_banner_sub1_bg.jpg);
    width: 490px;
    height: 74px;
    display: flex;
    align-items: center; /* 이미지 수직 가운데 정렬 */
}

.main_banner_box1 img
.main_banner_box2 img {
  top: 50%;
  left: 50%;
}

.main_banner_box2 {
    background-image: url(../images/main_banner_sub2_bg.jpg);
    width: 490px;
    height: 74px;
    display: flex;
    align-items: center; /* 이미지 수직 가운데 정렬 */
}

.index_main_box3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.extra_box1,
.extra_box2,
.extra_box3 {
    width: 327px; /* 각 아이템의 너비 */
    box-sizing: border-box;
}

.index_sub_box {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.index_sub_box1,
.index_sub_box2,
.index_sub_box3 {
    width: 111px; /* 각 아이템의 너비 */
    box-sizing: border-box;
    float: right;
    text-align: left;
}

.sub_text_box {
    float: right;
    width: 119px;
    list-style-type: none;
    line-height: 200%;
    font-size: 10px;
    margin-left: 10px;
}

.sub_date {
    float: right;
    width: 78px;
    list-style-type: none;
    line-height: 200%;
    font-size: 10px;
    text-align: right;
    margin-right: 10px;
    text-align: right
}

.sub_date a {
    display: block;
    margin: 1px 0;
}

.cs_wrapper {
    width: 980px;
    height: 124px;
    margin: 0 auto; 
}

.main-gubun-box {
    width: 100%;
    background-image: url(../images/main_cs_top_line.png);
    height: 2px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    margin-top: 5px;
}

.customer_cs {
    width: 980px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.customer_cs_info {
    width: 369px;
    height: 150px;
    box-sizing: border-box;
}

.cs_name {
    width: 367px;
    height: 40px
}

.cs_info {
    width: 369px;
    height: 46px;
    display: flex;
    flex-direction: row;
}

.time {
    width: 131px;
    height: 45px;
    font-size: 10px;
    float: right;
    margin-left: 18px;
}

.cs_btn {
    width: 486px;

}

.account_info {
    width: 264px;
    height: 120px;
    box-sizing: border-box;
    font-size: 10px;
}

.account_number {
    width: 264px;
    height: 200px;
    box-sizing: border-box;
    font-size: 10px;
    padding: 0 15px;
}

.notice {
    width: 346px;
    height: 120px;
    box-sizing: border-box;
    
}

.notice_box {
    width: 333px;
    height: 106px;
    display: flex;
    flex-direction: row;
}

.notice_text_box {
    width: 218px;
    height: 140px;
}

.notice_date {
    width: 115px;
    height: 66px;
    text-align: right;
}

.notice_text_box, .notice_date {
    font-size: 10px;
}






.footer-gubun-box {
    width: 100%;
    background-image: url(../images/main_cs_top_line.png);
    height: 2px;
    background-position: 50% 50%;
    background-size: 100% 100%;
    margin-top: 5px;
}