<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="sign-up-wrapper">
        <form action="#">
            <div class="sign-up-title">
                <h4>회원정보 설정</h4>
            </div>
            <div class="sign-up-header-box">
                <div class="sign-up-id">
                    <div class="sign-up-id-box">
                        <div class="sign-up-id-title">아이디</div>
                        <div class="sign-up-id-content">
                            <div class="new-text">abc</div>
                        </div>
                    </div>
                </div>
                <div class="sign-up-pw">
                    <div class="sign-up-pw-box">
                        <div class="sign-up-pw-title">비밀번호</div>
                        <div class="sign-up-pw-content">
                            <input placeholder="비밀번호 입력" name="input-pw" class="input-pw">
                        </div>
                    </div>
                </div>
                <div class="sign-up-confirm">
                    <div class="sign-up-confirm-box">
                        <div class="sign-up-confirm-title">비밀번호 확인</div>
                        <div class="sign-up-confirm-content">
                            <input placeholder="비밀번호 입력 확인" name="input-confirm" class="input-confirm">
                            <input type="button" value="비밀번호 수정">
                        </div>
                    </div>
                </div>
                <div class="sign-up-date">
                    <div class="sign-up-date-box">
                        <div class="sign-up-date-title">회원가입 날짜</div>
                        <div class="sign-up-date-content">
                            <div class="new-date">2022-01-01 12:45:12</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sign-up-main-title">
                <h4>개인정보 수정</h4>
            </div>

            <div class="sign-up-main">
                <div class="sign-up-name">
                    <div class="sign-up-name-box">
                        <div class="sign-up-name-title">이름</div>
                        <div class="sign-up-name-content">
                            <input  name="input-name" class="input-name">
                        </div>
                    </div>
                </div>
                
                <div class="sign-up-nickname">
                    <div class="sign-up-nickname-box">
                        <div class="sign-up-nickname-title">별명</div>
                        <div class="sign-up-nickname-cobntent">
                            <div class="input-top-mar">
                                &nbsp;&nbsp;공백없는 한글, 영문, 숫자 입력
                            </div>
                            <div class="sign-up-nickname-input-box">
                                <input placeholder="별명 입력" name="input-nickname" class="input-nickname">
                                <input type="button" value="중복확인">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign-up-email">
                    <div class="sign-up-email-box">
                        <div class="sign-up-email-title">이메일</div>
                        <div class="sign-up-email-content">
                            <input placeholder="이메일 입력" name="input-email" class="input-email">
                            <input type="button" value="인증번호 받기">
                        </div>
                    </div>
                </div>
                <div class="sign-up-hp">
                    <div class="sign-up-hp-box">
                        <div class="sign-up-hp-title">휴대폰</div>
                        <div class="sign-up-hp-content">
                            <input placeholder="휴대폰 입력" type="text" name="input-hp" class="input-hp">
                        </div>
                    </div>
                </div>
                <div class="sign-up-address">
                    <div class="sign-up-address-box">
                        <div class="sign-up-address-title">주소</div>
                        <div class="sign-up-address-content">
                            <div>
                                <input placeholder="우편번호" type="text" name="input-address" class="input-address">
                                <input type="button" value="우편번호 찾기">
                            </div>
                            <div>
                                <input type="text" class="input-address-input2" placeholder="주소 검색">
                            </div>
                            <div>
                                <input type="text" class="input-address-input2" placeholder="상세 주소 입력">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sign-up-withdraw">
                    <div class="sign-up-withdraw-box">
                        <div class="sign-up-withdraw-title">이름</div>
                        <div class="sign-up-withdraw-content">
                            <!-- <input class="withdraw-btn" type="button" value="탈퇴하기" name="input-name" class="input-name"> -->
                             <button class="withdraw-btn">탈퇴하기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign-up-footer">
                <input class="input-x" type="button" value="취소">
                <input class="input-sign-up" type="submit" value="회원수정">
            </div>
        </form>
    </div>
</body>
</html>