.sign-up-wrapper{
    width: 600px;
    height: 512px;
    margin: 95px auto 0 auto;
    box-sizing: border-box;

}

.sign-up-header-box{
    border: 1px solid black;
}

.sign-up-id{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);    
}

.sign-up-id-box{
    display: flex;
    
}

.sign-up-id-title{
    display: flex;
    flex:1;
    justify-content: left;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.sign-up-id-content{
    display: flex;
    flex:3;
    gap: 3px;
}

.sign-up-pw {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.sign-up-pw-box{
    display: flex;
}

.sign-up-pw-title{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}
.sign-up-pw-content{
    display: flex;
    flex: 3;
}

.sign-up-confirm {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.sign-up-confirm-box{
    display: flex;
}

.sign-up-confirm-title{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}
.sign-up-confirm-content{
    display: flex;
    flex: 3;
}

.sign-up-main {
    border: 1px solid rgba(0, 0, 0, 1);
}


.sign-up-name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.sign-up-name-box{
    display: flex;
}

.sign-up-name-title{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}
.sign-up-name-content{
    display: flex;
    flex: 3;
}

.sign-up-nickname{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.sign-up-nickname-box{
    display: flex;
} 
.sign-up-nickname-title {
    display: flex;
    justify-content: left;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    flex: 1;
}

.sign-up-nickname-cobntent {
    display: flex;
    flex-direction: column;
    flex: 3;
}


.sign-up-email{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);    
}

.sign-up-email-box{
    display: flex;
    
}

.sign-up-email-title{
    display: flex;
    flex:1;
    justify-content: left;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
}

.sign-up-email-content{
    display: flex;
    flex:3;
    gap: 3px;
}

.sign-up-hp{
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.sign-up-hp-box{
    display: flex;
}

.sign-up-hp-title{
    display: flex;
    flex:1;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    justify-content:  left;
    align-items: center;

}

.sign-up-hp-content{
    display: flex;
    flex:3;
}


.sign-up-address-box{
    display: flex;
}

.sign-up-address-title{
    display: flex;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    flex: 1;
    justify-content: left;
    align-items: center;
}

.sign-up-address-content{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.sign-up-main input, .sign-up-header-box  input{
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.input-address-input2{
    width: 80%;
    
}


.sign-up-footer {
    display: flex;
    justify-content: end;
    gap: 5px;
    margin-top: 25px;
}

.input-top-mar {
    margin-top: 10px;
}

.sign-up-main input[type=button]{
    background-color:#457b9d;
    color: white;
    cursor: pointer;           
    border: none;              
    border-radius: 5px;        
    box-shadow: 
    2px 2px #4b97c6,
    -2px -2px #4b97c6,    /* 그림자 추가 */
    2px -2px #4b97c6,
    -2px 2px #4b97c6;
}

.sign-up-header-box input[type=button]{
    background-color:#457b9d;
    color: white;
    cursor: pointer;           
    border: none;              
    border-radius: 5px;        
    box-shadow: 
    2px 2px #4b97c6,
    -2px -2px #4b97c6,    /* 그림자 추가 */
    2px -2px #4b97c6,
    -2px 2px #4b97c6;
}

.sign-up-header-box input[type=button]:hover{
    background-color:#5d8fae;
}


.sign-up-main input[type=button]:hover{
    background-color:#5d8fae;
}

.input-x{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    cursor: pointer;
}
.input-x:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.input-sign-up {
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.input-sign-up:hover{
    background-color: rgba(255, 255, 255, 1)
}

.sign-up-id-title, .sign-up-pw-title, .sign-up-confirm-title,
.sign-up-name-title,.sign-up-nickname-title, .sign-up-email-title,
.sign-up-hp-title, .sign-up-address-title, .sign-up-withdraw-title, .sign-up-date-title{
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.06);
}

.withdraw-btn{
    background-color: rgb(221, 0, 0);
    margin: 10px;
    border: 1px solid rgba(255, 0, 0, 0.1);
    color: white;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}

.withdraw-btn:hover{
    background-color: rgba(221, 0, 0, 0.8);
}

.sign-up-withdraw{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.sign-up-withdraw-box{
    display: flex;
}

.sign-up-withdraw-title{
    display: flex;
    flex:1;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    justify-content:  left;
    align-items: center;

}

.sign-up-withdraw-content{
    display: flex;
    flex:3;
}

.new-date, .new-text{
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sign-up-date-box{
    display: flex;
}

.sign-up-date-title{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}
.sign-up-date-content{
    display: flex;
    flex: 3;
}